
<div style="display:flex; justify-content: center; align-items: center; font-size: 30px;">
    <p id="Ostatnio" style=" margin: auto; margin-top: 10px ;margin-bottom: 2px; min-width: 95%; text-align: justify;">Ilość ofert z ostatnio(@ViewData["LastDate"]) zebranych danych: @ViewData["Count"]. Te dane zostały zebrane ze strony: <a style="color:#0077aa;" href="@ViewData["SiteLink"]" target="_blank">@ViewData["SiteTitle"]</a>.</p>
</div>
<hr></hr>
<div class="dane_top">
    <div class="today_data_div">
        <a class="today_title">Informacje o wynagrodzeniu</a>
        </br>
        <a>Ilość ofert zawierających wynagrodzenie: {{count}}%</a>
    </div>
</div>

<div class="Historyczne_dane">

</div>

